<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="sidenav">
    <%= link_to "About", about_path %>
    <%= link_to "Services", services_path %>
    <%= link_to "Login", root_path, data: {toggle: 'modal', target: '#modalLoginForm'} %>
    <%= link_to "Sign Up", root_path, data: {toggle: 'modal', target: '#modalSignUpForm'} %>
    <%= link_to "Contact", contact_path %>
  </div>

    <div class="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      <%= render '/layouts/login' %>
      <%= render '/layouts/sign_up' %>
      <%= yield %>

      <div class="fixed">
      <%= debug(params) if Rails.env.development? %>
      </div>
    </div>

  </body>
</html>